.ant-modal-content {
    border-radius: 9px !important;
    overflow: hidden;
}
.ant-image{
    overflow: hidden;
}
.ant-image-preview-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
